.profile-checkbox-block {
   font-family: 'Poppins-Regular', sans-serif;
   margin-bottom: 30px;
   &__title {
      font-family: 'Poppins-Regular', sans-serif;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      margin: 0px 0px 7px 0px;
   }
   &__list {
      display: flex;
      gap: 20px;
   }
   &__item {
   }
}
.profile-checkbox {
   display: flex;
   align-items: center;
   gap: 10px;
   position: relative;
   &__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      &:checked + .profile-checkbox__style {
         &::after {
            transform: translate(-50%, -50%) scale(1);
            transition: all 0.3s ease 0s;
         }
      }
   }

   &__style {
      flex: none;
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid rgba(52, 52, 52, 0.5);
      border-radius: 5px;
      position: relative;
      &::after {
         content: '';
         display: block;
         position: absolute;
         width: 10px;
         height: 10px;
         background-color: #e1ba7a;
         border-radius: 5px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) scale(0);
         transition: all 0.3s ease 0s;
      }
   }

   &__text {
      font-family: 'Poppins-Regular', sans-serif;
      display: flex;
      line-height: normal;
      color: #666;
      font-size: 15px;
   }
}
