.thank-page {
   background: #e5e5e5;
   &__container {
      max-width: 1270px;
      padding: 0px 15px;
      margin: 0 auto;
      position: relative;
   }

   &__content {
      padding: 240px 0px;
      position: relative;
      z-index: 5;
      @media (max-width: 575.98px) {
         padding: 120px 0px;
      }
   }

   &__title {
      font-weight: 400;
      font-size: 70px;
      line-height: 100%;
      text-align: center;
      color: #343434;
      margin: 0px 0px 20px 0px;
      letter-spacing: normal;
      @media (max-width: 575.98px) {
         font-size: 40px;
      }
   }

   &__descr {
      letter-spacing: normal;
      font-family: 'Poppins-Regular';
      font-size: 15px;
      line-height: 120%;
      text-align: center;
      color: #343434;
      max-width: 490px;
      margin: auto;
      margin-bottom: 25px;
   }

   &__link {
      display: block;
      margin: auto;
      max-width: 180px;
      width: 100%;
      text-align: center;
      padding: 24px 25px;
      font-size: 18px;
      line-height: 100%;
      color: #ffffff;
      @media (max-width: 575.98px) {
         padding: 15px;
         max-width: 140px;
      }
   }

   &__werozee {
      position: absolute;
      width: calc(100% - 30px);
      bottom: -14px;
      left: 50%;
      transform: translate(-50%, 0px);
      z-index: 5;
      img {
         max-width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &__ball {
      background: radial-gradient(45.18% 45.18% at 37.65% 25.18%, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
         linear-gradient(132.82deg, rgba(255, 255, 255, 0.47) 14.64%, rgba(255, 255, 255, 0) 85.8%), #ebdcd0;
      box-shadow: 50px 100px 100px rgba(211, 204, 198, 0.5);
      position: absolute;
      display: block;
      border-radius: 50%;
      z-index: 1;
      &_1 {
         width: 12vw;
         height: 12vw;
         top: 58%;
         left: 11%;
         max-width: 200px;
         max-height: 200px;
         min-width: 100px;
         min-height: 100px;
      }

      &_2 {
         width: 7vw;
         height: 7vw;
         top: 14%;
         left: 23%;
         max-width: 105px;
         max-height: 105px;
         min-width: 50px;
         min-height: 50px;
      }

      &_3 {
         width: 4vw;
         height: 4vw;
         top: 19%;
         left: 49%;
         max-width: 65px;
         max-height: 65px;
         min-width: 30px;
         min-height: 30px;
      }

      &_4 {
         width: 7vw;
         height: 7vw;
         top: 45%;
         left: 53%;
         max-width: 105px;
         max-height: 105px;
         min-width: 50px;
         min-height: 50px;
      }

      &_5 {
         width: 4vw;
         height: 4vw;
         top: 3%;
         left: 66%;
         max-width: 65px;
         max-height: 65px;
         min-width: 30px;
         min-height: 30px;
      }

      &_6 {
         width: 9vw;
         height: 9vw;
         top: 59%;
         left: 76%;
         z-index: 6;
         max-width: 150px;
         max-height: 150px;
         min-width: 75px;
         min-height: 75px;
         @media (max-width: 575.98px) {
            z-index: 1;
         }
      }
   }
}
